body {
  padding: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 1200px) {}

  .container,
  .container-sm,
  .container-lg,
  .container-md,
  .container-xl {
    max-width: 1500px !important;
  }
}


.app-container {
  .header-container {
    .btn-login {
      border-radius: 5px;
      margin-right: 15px;
      padding: 15px;
      border: 1px solid #535353;
      height: 50px;
      align-items: center;
      display: flex;
    }

    .btn-signup {
      border-radius: 5px;
      padding: 15px;
      background: #303030;
      color: white;
      height: 50px;
      align-items: center;
      display: flex;


      &:hover {
        background: black;
      }
    }

    .navbar {
      padding-top: 10px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;

      .nav-link {
        &.active {
          color: red
        }
      }
    }
  }

  .homepage-container {
    .homepage-content {
      position: relative;
      padding: 0 100px;
      margin-top: 90px;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .title-1 {
      font-size: 50px;
      font-weight: 600;
    }

    .title-2 {
      font-size: 25px;
    }

    .title-3 {
      button {
        border-radius: 5px;
        padding: 15px;
        background: #303030;
        color: white;
        height: 50px;
        align-items: center;
        display: flex;

        &:hover {
          background: black;
        }
      }

    }
  }

}

video {
  padding-top: 10px;
  position: fixed;
  bottom: -80px;
  width: 100vw;
}